AddType application/rdf+xml .rdf

DirectoryIndex index.php index.html sioc.html

RewriteEngine on

RewriteRule ^apml-rdf/ns$ /apml-rdf/ns.rdf [L]
RewriteRule ^imo/ns$ /imo/imo.rdf [L]
RewriteRule ^sioc/access$ /sioc/access.rdf [L]
RewriteRule ^sioc/actions$ /sioc/actions.rdf [L]
RewriteRule ^sioc/argument$ /sioc/argument.rdf [L]
RewriteRule ^sioc/nepomuk$ /sioc/nepomuk.rdf [L]
RewriteRule ^sioc/ns$ /sioc/ns.rdf [L]
RewriteRule ^sioc/quotes$ /sioc/quotes.rdf [L]
RewriteRule ^sioc/services$ /sioc/services.rdf [L]
RewriteRule ^sioc/swan$ /sioc/swan.rdf [L]
RewriteRule ^sioc/types$ /sioc/types.rdf [L]
RewriteRule ^sioc/wikitalk$ /sioc/wikitalk.rdf [L]
RewriteRule ^scot/ns$ /scot/ns.rdf [L]

RewriteCond %{REQUEST_URI} !^/apml-rdf/ns
RewriteCond %{REQUEST_URI} !^/imo/ns
RewriteCond %{REQUEST_URI} !^/sioc/applications
RewriteCond %{REQUEST_URI} !^/sioc/access
RewriteCond %{REQUEST_URI} !^/sioc/actions
RewriteCond %{REQUEST_URI} !^/sioc/argument
RewriteCond %{REQUEST_URI} !^/sioc/nepomuk
RewriteCond %{REQUEST_URI} !^/sioc/ns
RewriteCond %{REQUEST_URI} !^/sioc/quotes
RewriteCond %{REQUEST_URI} !^/sioc/related
RewriteCond %{REQUEST_URI} !^/sioc/services
RewriteCond %{REQUEST_URI} !^/sioc/spec
RewriteCond %{REQUEST_URI} !^/sioc/swan
RewriteCond %{REQUEST_URI} !^/sioc/types
RewriteCond %{REQUEST_URI} !^/sioc/wikitalk
RewriteCond %{REQUEST_URI} !^/resume-rdf
RewriteCond %{REQUEST_URI} !^/scot/ns
RewriteRule ^sioc/(.*) http://sioc-project.org/$1 [R=301,L]

RewriteCond %{REQUEST_URI} !^/
RewriteCond %{REQUEST_URI} !^/sioc
RewriteCond %{REQUEST_URI} !^/semradar
RewriteCond %{REQUEST_URI} !^/resume-rdf
RewriteCond %{REQUEST_URI} !^/timbl-iswc2005-podcast
RewriteRule ^(.*) http://sioc-project.org/$1 [R,L]

Header add Access-Control-Allow-Origin "*"
